/* Stylesheet for kevincotugno.com */

*, *:before, *:after {
  box-sizing: border-box;
}


html {
  font-family: serif;
  font-size: 12pt;
}

body {
  background-color:  #dfe0e8;
}

.content {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  max-width: 1250px;
  margin: 10px auto 10px auto;
}

.construction {
  color: #d51a00;
  text-align: center;
}

.card {
  box-shadow: 1px 1px 8px grey;
  border-radius: 1em;
  margin: 10px;
}

.card-content {
  margin: 25px;
}

.aboutme {
  flex: 3;
}

.openprojects {
  flex: 1;
}

h1 {
  font-size: 2.0em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: blue;
  transition: 0.25s;
}

a:hover {
  color: #8ac0ff;
  transition: color 0.25s;
}

a:visited {
  color: blue;
}

a:visited:hover{
  color: #8ac0ff;
}

a img {
  color: black;
}

a:hover img {
  color: black;
}

a:visited img {
  color: black;
}

a:visited:hover img {
  color: black;
}

.image {
  width: 40px;
  height: 40px;
  margin: 0 5px 0 5px;
}

.github-image {
  border-radius: 100%;
}

.gitlab-image {
  border-radius: 50%;
}

.generic-shadow {
  transition: 0.5s;
}

.generic-shadow:hover {
  box-shadow: 2px 2px 5px;
}

footer {
  text-align: center;
}
